---

---
<header>
  <div class="flex gap-8 justify-between py-4 px-8 items-center">
    <div class="text-2xl">YGDD</div>
    <nav class="flex gap-8 font-bold">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>
  </div>
</header>
