---

---
<header>
  <div class="flex gap-8 justify-between py-8 px-8 items-center shadow bg-black">
    <a class="text-3xl font-bold" href="/">
      YGDD
    </a>
    <nav class="flex gap-8 font-bold">
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </nav>
  </div>
</header>
