---
const year = new Date().getFullYear();
---
<footer>
  <div class="flex gap-8 justify-center py-4 px-8 items-center">
    <p>&#169Copyright {year} YGDD. All Rights Reserved.</p>
  </div>
</header>
