<section class="giscus mx-auto mt-10 max-w-full md:max-w-3xl"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="dosmanthus/blog"
  data-repo-id="R_kgDOKq0QkA"
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOKq0QkM4Ca6NF"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="dark_protanopia"
  data-lang="zh-TW"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
