---
import BaseHead from '../components/BaseHead.astro';
import BaseHeader from '../components/BaseHeader.astro';
import BaseFooter from '../components/BaseFooter.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW" class="dark">
	<BaseHead title={title}></BaseHead>
	<body>
		<div class="flex flex-col h-full">
			<BaseHeader />
			<main class="grow py-8">
				<div>
					<slot />
				</div>
			</main>
			<BaseFooter />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		height: 100%;
	}

	body {
		@apply text-white h-full;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		@apply tracking-wider text-white;
	}

	h2 {
		@apply text-xl mt-16 mb-4 tracking-wider underline underline-offset-4;
	}

	quote {
		@apply block text-xl text-green-dark my-8 py-2 border-l-2 border-green-dark;
	}

	main a {
		@apply text-green hover:text-green-dark;
	}
	a {
		@apply hover:text-green;
	}

	p {
		@apply mt-4;
	}

	ol {
		@apply list-decimal pl-4 my-2;
	}
</style>
