---
import BaseHead from '../components/BaseHead.astro';
import BaseHeader from '../components/BaseHeader.astro';
import BaseFooter from '../components/BaseFooter.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW" class="dark">
	<BaseHead title={title}></BaseHead>
	<body>
		<div class="flex flex-col h-full">
			<BaseHeader />
			<main class="grow py-8">
				<slot />
			</main>
			<BaseFooter />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 44, 246, 179;
		--accent-light: 22, 251, 175;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			black 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		height: 100%;
	}

	body {
		@apply text-white h-full;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	a {
		@apply hover:text-green;
	}
</style>
